.fiveModule {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  position: relative;
  background-color: #fff;
  margin-top: -60px;
  border-radius: 6px;
}
.fiveModule .bar1 {
  width: 96%;
  height: 2px;
  background-color: rgba(169, 165, 165, 0.3);
  position: absolute;
  left: 2%;
  top: 129px;
}
.fiveModule .bar1 .bar2 {
  width: 25%;
  height: 2px;
  background-color: #000000;
  transition: all 1s linear;
}
.fiveModule .lines {
  width: 100%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fiveModule .lines .lineBox {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fiveModule .lines .lineBox .lineTitle {
  letter-spacing: 2px;
}
.fiveModule .lines .lineBox .line-father {
  width: 40px;
  height: 40px;
  position: relative;
}
.fiveModule .lines .lineBox .line-father .line {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
  transform: scale(0);
  transition: all 0.8s;
}
.fiveModule .lines .lineBox .line-father .line.active {
  transform: scale(1);
}
.fiveModule .lines .lineBox .line-father .line-son {
  width: 12px;
  height: 12px;
  background-color: rgba(169, 165, 165, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
  transition: all 0.8s;
}
.fiveModule .lines .lineBox .line-father .line-son.active {
  background-color: black;
}
@keyframes bar2 {
  0% {
    width: 25%;
    background-color: black;
  }
  25% {
    width: 50%;
    background-color: black;
  }
  75% {
    width: 75%;
    background-color: black;
  }
  100% {
    width: 100%;
    background-color: black;
  }
}
@keyframes line {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes line-son {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    background-color: black;
  }
}
.fiveModule .allContent {
  width: 100%;
  background-color: #fefefe;
  margin-top: 50px;
}
.fiveModule .allContent .contentBar {
  display: none;
}
.fiveModule .allContent .contentBar .content {
  width: 96%;
  margin: auto;
  height: 490px;
  border: 1px solid black;
}
.fiveModule .contentBar.active {
  display: block;
}
